<h1>Denominaciones</h1>
<div style="padding:20px"></div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>{{item.id}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.valor}}</td>
    </tr>
  </tbody>
</table>