<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="denominacion">Denominación:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="denominacion" id="denominacion" [(ngModel)]="denom.denominacion" placeholder="Enter denominacion">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="valor">Valor:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="valor" id="valor" [(ngModel)]="denom.valor" placeholder="Enter valor">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" (click)="save(denom)" class="btn btn-success">Guardar</button>
    </div>
  </div>
</form>