<div style="padding:20px"></div>
<button type="button" [routerLink]="['/updateDenomComponent']" class="btn btn-primary">Agregar denominación</button>
<button type="button" [routerLink]="['/createDenomComponent']" class="btn btn-success">Actualizar denominación</button>
<button type="button" [routerLink]="['/deleteDenomComponent']" class="btn btn-warning">Eliminar denominación</button>
<button type="button" [routerLink]="['/bancoComponent']" class="btn btn-success">Consulta denominación</button>
<div style="padding:20px"></div>
<router-outlet></router-outlet>