<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="id">Id:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="id" id="id" [(ngModel)]="parent.id" placeholder="Enter denominacion">
        </div>
      </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" (click)="delete(parent.id)" class="btn btn-warning">Eliminar</button>
    </div>
  </div>
</form>